<div class="row">
    <div class="col-12 page-title" *ngIf="!editMode">
        <h1>Novo usuário</h1>
    </div>
    <div class="col-12 page-title" *ngIf="editMode">
        <h1>Editar usuário</h1>
    </div>
</div>

<form [formGroup]="form">
    <div class="row">
    
        <div class="col-12 mb-3">
            <label for="name" class="form-label">Name</label>
            <input 
                type="name" 
                class="form-control" 
                formControlName="name" 
                placeholder="name">
        </div>
        <div class="col-12 mb-3">
            <label for="mail" class="form-label">Email address</label>
            <input 
                type="email" 
                class="form-control" 
                formControlName="mail" 
                placeholder="name@example.com">
        </div>
        <div class="col-12 mb-3">
            <label for="profession" class="form-label">Profession</label>
            <input 
                type="profession" 
                class="form-control" 
                formControlName="profession" 
                placeholder="profession">
        </div>

        <div class="col-12 mb-3">
            <button 
                type="submit"
                class="btn btn-success float-right cursor-pointer"
                (click)="onSubmit()">Salvar</button>
        </div>

    </div>
</form>