<div class="row">
    <div class="col-12 page-title" *ngIf="!editMode">
        <h1>Novo usuário</h1>
    </div>
    <div class="col-12 page-title" *ngIf="editMode">
        <h1>Editar usuário</h1>
    </div>
</div>

<form [formGroup]="form">
    <div class="row">
    
        <div class="col-12 mb-3">
            <label for="name" class="form-label">Name</label>
            <input 
                type="text" 
                class="form-control" 
                formControlName="name" 
                placeholder="name">
        </div>
        <div class="col-12 mb-3">
            <label for="mail" class="form-label">Email address</label>
            <input 
                type="email" 
                class="form-control" 
                formControlName="mail" 
                placeholder="name@example.com">
        </div>
        <div class="col-12 mb-3">
            <label for="password" class="form-label">Password</label>
            <input 
                type="password" 
                class="form-control" 
                formControlName="password" 
                placeholder="">
        </div>
        <div class="col-12 mb-3">
            <label for="profession" class="form-label">Profession</label>
            <input 
                type="text" 
                class="form-control" 
                formControlName="profession" 
                placeholder="profession">
        </div>
        <div class="col-12 mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea 
                class="form-control" 
                formControlName="description" 
                placeholder="description">
            </textarea>
        </div>

    </div>
    <div class="row">
        <div class="col-12 mb-3">
            
            <button 
                type="submit"
                class="btn btn-success float-right cursor-pointer"
                (click)="onSubmit()">Save</button>
            <button 
                type="button"
                *ngIf="editMode"
                class="btn btn-danger float-right cursor-pointer mr10"
                (click)="delete()">Delete</button>
        </div>
    </div>
</form>