.openExtraData{
    text-align: right;
}

.openExtraData svg{
    cursor: pointer;
}

.editButton{
    text-align: right;
}

.editButton a{
    color: green;
}

svg{
    width: 25px;
    height: 25px;
}